<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../view/node_modules/bootstrap/compiler/bootstrap.css">

    <link rel="stylesheet" href="../view/node_modules/bootstrap/compiler/style.scss">

    <link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link href="css_2/simple-sidebar.css" rel="stylesheet">

    <link href="css/sb-admin-2.min.css" rel="stylesheet">

        <title>Transportadora</title>
  </head>
  <body>


<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-primary border-right" id="sidebar-wrapper">
      <div class="sidebar-heading text-light">ATF Express</div>
      <div class="list-group list-group-flush">
        <a href="?pagina=home&template=home.php" class="list-group-item list-group-item-action bg-light"><i class="fa fa-home"></i> Home</a>
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Importa nota fiscal<input type="file" class="custom-file-input"></a> -->
        <div class="input-group">
          <div class="input-group-prepend bg-light">
            <span type="file" class="list-group-text bg-light"></span>
          </div>
          <div class="custom-file bg-light">
            <input type="file" class="custom-file-input bg-light">
            <label class="custom-file-label"><i class="fa fa-folder" aria-hidden="true"></i> Importa Notas</label>
          </div>
        </div>

        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fa fa-file" aria-hidden="true"></i> NFs</a>
        <a href="teste.html" class="list-group-item list-group-item-action bg-light"><i class="fa fa-check-square"></i> Conferencia de NF</a>
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a> -->
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->

        <div class="card">
          <img src="../view/images/images.png" class="card-img-top" alt="">
          <div class="card-body">
            
          </div>
        </div>


      </div>
    </div>

    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom">
        <button class="btn btn-gradient-light text-light" id="menu-toggle"><i class="fa fa-bars"></i> </button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link text-light" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="#">Link</a> -->
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Lista de Notas</li>
        </ol>
      </nav>
      <hr>

      <!--<div class="container">  
        <div class="card">
          <div class="card-header">
            <i class="fa fa-file"></i> Notas
          </div>
          <div class="container">
            <br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>-->

      <!--<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
           <li class="breadcrumb-item active" aria-current="page">Lista de notas</li>
        </ol>-->
        
        <!--<table class="table table-bordered table-secondary text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">NF</th>
              <th scope="col">Código</th>
              <th scope="col">Descrição</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">470435</th>
              <td>50</td>
              <td>HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH</td>
              <td>5</td>
               <td class="action">
                <a class="btn btn-success btn-sm" href="teste.html">Visualiza</a>
                <a class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal" href="">Conferir</a>-->
                <!-- <a class="btn btn-danger btn-xs" href=""></a> -->
              <!--</td>
            </tr>
            <tr>
              <th scope="row">470454</th>
              <td>51</td>
              <td>HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH</td>
              <td>6</td>
              <td class="action">
                <a class="btn btn-success btn-sm" href="">Visualiza</a>
                <a class="btn btn-warning btn-sm" href="">Conferir</a>-->
                <!-- <a class="btn btn-danger btn-xs" href=""></a> -->
              <!--</td>
            </tr>
            </tr>
            <tr>
              
          </tbody>
        </table>-->
        

        
      </nav>


      <nav class="navbar fixed-bottom navbar-light bg-secondary">
        <span class="text-center">DLCM-Devs</span>
      </nav>

    </div>

    
  



    <script src="../view/node_modules/jquery/dist/jquery.js"></script>
    <script src="../view/node_modules/popper.js/dist/popper.js"></script>
    <script src="../view/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

  </body>
</html>